// ==========================================================================
// Hero
// ==========================================================================

.hero {
    overflow: hidden;
    position: relative;
    display: block;
    color: inherit;


    &.heroHomepage {
        height: calc(90vh - 100px);
        width: 100vw;
        overflow: hidden;
    }

    & picture {
        position: absolute;
        left:auto;
        right:auto;
        top:0;
        bottom:0;
        height: 100%;

        & img {
            display: block;
            width: inherit;
            height: inherit;
        }
    }

    & video {
        display: block;
        width: auto;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        height: 450px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;

        &.heroHomepage {
            height: calc(75vh - 100px);
        }

        & picture {
            position: static;
            width: 100%;
            height: auto;
            display: block;
    
            & img {
                display: block;
                width: inherit;
                height: inherit;
            }
        }
    }
}

// Utilities to handle alignment within container
.heroInner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px 32px;
    z-index: 2;
    margin: 0 auto;
    background-color:rgba(0,0,0,0.45);

    .heroBottom &{
        align-items:flex-end;
    }

    .heroTop &{
        align-items:flex-start;
    }

    .heroRight &{
        justify-content:flex-end;
        text-align: right;
    }

    .heroLeft &{
        justify-content:flex-start;
        text-align: left;
    }

    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }
}

// Utilities to handle alignment within body element
.heroBody {
    color:$white;
    max-width: 1340px;
    margin: 0 auto;
    display: block;
    width:100%;
    
}
