@import 'variables';

.btn{
  font-family:$heading; 
  display:inline-block;
  width:auto;
  padding:15px 30px;
  border-radius:2px;
  background-color:$btn-base-color;
  color:$btn-text;
  text-transform: uppercase;
  font-weight:300;
  letter-spacing:1px;
  border:0;
  cursor:pointer;
  transition: all .3s ease;

  &:hover{
    background-color:$btn-hover;
    color:#fff;
  }

  &.btnPrimary{
    background-color:darken($fog, 10%);
    color:$white;

    &:hover{
      background-color:darken($fog, 20%);
    }
  }

  &.btnSecondary{
    background-color:darken($poppy, 5%);
    color:$white;

    &:hover{
      background-color:goldenrod;
    }
  }

  &.btnTertiary{
    background-color:darken($crimson, 10%);
    color:$white;

    &:hover{
      background-color:lighten($crimson, 10%);
    }
  }

  &.btnSmall{
    padding:4px 12px;
  }

  &.btnIcon{
    display:inline-flex;
    align-items: center;
    padding:15px 30px 15px 20px;
  }

  &.btnImdb{
    background-color:$poppy;
    color:$darkGray;
    border-radius:4px;

    &:hover{
      background-color:goldenrod;
      
      & a:hover{
        color:$black;
      }
    }
  }

  .hero-cta-group &{
    margin-right:14px;
  }

  @media only screen and (min-width:768px){

  }
}


.ctaGroup {
  
  & .btn{
    margin-bottom:14px;
    width:100%;
    display: block;
    text-align: center;

    &.btnIcon{
      display: inline-flex;
      justify-content: center;
    }
  }

  @media only screen and (min-width:768px){

    & .btn{
      margin-bottom:0;
      width:auto;
      display: inline-block;
      margin-right:10px;
    }
  }
}