@import "variables";

nav {
  display: block;
  width: 100%;

  & ul {
    display: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
  }

  & li {
    display: inline-block;
    width: auto;
    text-align: left;
    padding: 0;
  }

  & a {
    display: block;
    font-family: $heading;
    color: inherit;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
  }

  &.mainNav,
  &.footerUtility {
    text-align: right;

    & li {
      margin-left: 25px;
    }

    & a {

      &:hover {
        color: $fog;
      }
    }
  }

  &.footerUtility{
    text-align: left;

    & li:first-child{
      margin-left:0;
    }
  }

  &.mainNav{
    display: none;

    @media only screen and (min-width: 768px) {
      display: block;
    }
  }
}

.mobileMenuTrigger{
  display: block;

  & span {
    font-size:2rem;
  }
  
  @media only screen and (min-width: 768px) {
    display: none;
  }

}