@import "variables";

nav {
  display: block;
  width: 100%;

  & ul {
    display: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
  }

  & li {
    display: inline-block;
    width: auto;
    text-align: left;
    padding: 0;
  }

  & a {
    display: block;
    font-family: $heading;
    color: inherit;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
  }

  &.mainNav,
  &.footerUtility {
    text-align: right;

    & li {
      margin-left: 25px;
    }

    & a {

      &:hover {
        color: $fog;
      }
    }
  }

  &.footerUtility{
    display:none;

    & li:first-child{
      margin-left:0;
    }

    @media only screen and (min-width: 768px) {
      display: block;
    }
  }

  &.mainNav{
    display: none;

    @media only screen and (min-width: 768px) {
      display: block;
    }
  }
}

.mobileMenuTrigger{
  display: block;

  & span {
    font-size:2rem;
  }
  
  @media only screen and (min-width: 768px) {
    display: none;
  }

}


.mobileNav{
  position: fixed;
  height:100vh;
  width:100vw;
  background-color:$white;
  left:-100vw;
  top:0;
  bottom:0;
  z-index:99;
  overflow: hidden;
  transition: left 0.3s ease;
  border-top: 4px solid $fog;


  &.active{
    left:0;
  }

  & [data-mobile-nav-close] span{
    color:$darkGray;
    font-size:2rem;
  }

  & .mobileNavHeader{
    display: flex;
    padding:21px;
    justify-content: space-between;
    gap:21px;
    border-bottom:1px solid #ddd;
  }

  & ul{
    margin:0;
    padding:0;

    & li{
      display: block;
    }

    & a{
      display: block;
      padding:21px;
      font-size:1.4rem;
      transition:all .2s ease;

      &:hover{
        background-color:$fog;
        color:$white;
      }
    }
  }
}