@import "variables";

:root {
  --s: 18px; /* control the size*/
  --c1: #000000;
  --c2: #111111;
  --_g: #0000 8%, var(--c1) 0 17%, #0000 0 58%;
}

html {
  font-size: 16px;
  margin-top: 0 !important;
}

body {
  font-size: 1rem;
  margin-top: 0;
  font-family: $base;

  &.logged-in {
    margin-top: -32px;
  }
}

.wrap,
.wrapper,
.container {
  display: block;
  width: 100%;
  clear: both;
}

.wrapper {
  position: relative;
  padding: 50px 0;

  &.noPadTop {
    padding-top: 0;
  }

  &.noPadBottom {
    padding-bottom: 0;
  }

  &.sand {
    background-color: $sand;
    color: $darkGray;
  }

  &.fog {
    background-color: $fog;
    color: $white;
  }

  &.deepOcean {
    background-color: $deepOcean;
    color: $white;
  }

  &.darkRed {
    background-color: $darkRed;
    color: $white;
  }

  &.darkGray {
    background-color: $darkGray;
    color: $white;
  }

  &.headerBar {
    color: $white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
  }

  &.ctaBar {
    padding: 28px 21px 35px 21px;
  }

  &.footer {
    font-size: 0.723rem;
    padding: 14px;
    color: $white;
    border-top: 2px solid darken($fog, 20%);
    text-align:center;
  }

  &.mainContent {
    padding-bottom: 0;
  }

  &.homepageSubhero{
    padding:50px 0;
    border-top:4px solid $deepOcean;
  }

  &.mainCta{
    // border-top:4px solid #222;
    // border-bottom:4px solid #222;

  }

  @media only screen and (min-width: 768px) {
    &.sand,
    &.spruce,
    &.darkGray,
    &.darkRed {
      padding: 50px 0;
    }

    &.ctaBar,
    &.footer {
      padding: 21px 0;
      text-align:left;
    }

    &.subFooter {
      padding: 8px 0;
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 30px;

  &.small {
    max-width: 1000px;
  }

  &.xsmall {
    max-width: 800px;
  }

  &.flexed {
    display: flex;
    flex-direction: column;

    &.spaceBetween {
      justify-content: space-between;
    }
  }

  &.centered {
    text-align: center;
  }

  .mainContent > & {
    position: relative;
    z-index: 2;
    background-color: #fff;
    min-height: 200px;
    padding: 50px 30px;
    -webkit-box-shadow: 0px -20px 26px -19px rgba(0, 0, 0, 0.21);
    box-shadow: 0px -20px 26px -19px rgba(0, 0, 0, 0.21);
  }

  .headerBar & {
    display: flex;
    justify-content:space-between;
    gap: 21px;
    align-items: center;
    padding: 0px 30px;
  }

  @media only screen and (min-width: 768px) {
    padding: 0;

    &.flexed {
      align-items: center;
      flex-direction: row;

      & > div {
        flex: 1;
        width: 100%;
      }
    }

    .headerBar & > div:first-child {
      flex: 0 0 270px;
    }

    .headerBar & {
      padding: 0;
    }

    .mainContent & {
      margin-top: -50px;
      z-index: 2;
      min-height: 200px;
      padding: 50px;
    }
  }

  @media only screen and (min-width: 1024px) {
    max-width: 1000px;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 1200px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1340px;
  }
}

section{

  .mainCta &{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    & div{
      width:100%;
      flex: 1 0 auto;
      border-left:0;
      text-align: center;
      padding-top:50px;
      
      &:first-child{
        padding-bottom:50px;
        padding-top:0;
        border-bottom:1px solid black;
      }
    }
  }

  @media only screen and (min-width: 768px) {

    .mainCta & {
      flex-direction: row;
      gap:0;
  
      & div{
        flex: 0 0 45%;
        border-left:1px solid #111;
        text-align: center;
        padding:0;
        padding-left:50px;
  
        &:first-child{
          border:0;
          padding:0;
          padding-left:0;
          padding-right:50px;
        }
      }
    }
  }
}

header {

  section &{
    text-align: center;
    margin-bottom:21px;

  }
}

main {
  min-height: 300px;
}

.primary {
  flex: 1;
}

.secondary {
  flex: 0 0 300px;
}

.page-content {
  display: block;
  width: 100%;
}

.headerBar {
  padding: 20px 0 25px;
  background: transparent;
  border-top: 4px solid $fog;
  transition: background-color 0.3s ease;

  &.active {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.subHero {
  color: $white;
  background-color: $darkGray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px 0 50px;
  position: relative;
  overflow: hidden;
  background:
    linear-gradient(135deg, #0000 20.5%, var(--c1) 0 29.5%, #0000 0) 0 calc(var(--s) / 4),
    linear-gradient(45deg, var(--_g)) calc(var(--s) / 2) 0,
    linear-gradient(135deg, var(--_g), var(--c1) 0 67%, #0000 0),
    linear-gradient(45deg, var(--_g), var(--c1) 0 67%, #0000 0 83%, var(--c1) 0 92%, #0000 0),
    var(--c2);
  background-size: var(--s) var(--s);

  & .subHeroTitle {
    position: relative;
    z-index: 3;
  }

  & .subHeroOverlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  }

  & .subHeroImage {
    position: absolute;
    top: 0;
    bottom: 0;

    & img {
      height: 100%;
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 180px 0 125px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 21px;

  & a{
    position: relative;

  }

  & .project {
    height: auto;
    overflow: hidden;
    cursor: pointer;

    & .projectOverlay{
      position: absolute;
      left:0;
      top:0;
      height:100%;
      width:100%;
      padding:30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color:$white;
      background-color:rgba(0,0,0,0.9);
      opacity:0;
      text-align: center;
      font-size:1.2rem;
      line-height:1.5rem;
      transition: opacity .4s ease;

      &:hover{
        opacity:1;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    gap:1% 1;

    & .project {
      flex: 0 0 49%;

      & img {
        height: auto;
        width: 100%;
      }

      & .projectOverlay{
        font-size:1.4rem;
        line-height:1.6rem;
      }
    }
  }
}

.featuredWorkItems{
  
  & .projects{
    display: flex;
    flex-direction: column;
    gap:21px;
  }

  & .project {
    position: relative;
    height: auto;
    overflow: hidden;
    cursor: pointer;
  }

  & .projectOverlay{    
    font-size:1.4rem;
    line-height:1.7rem;
  }

  @media only screen and (min-width: 768px) {
    
    & .projects{
      flex-direction: row;
      justify-content: space-between;
      align-items: top;
      flex-wrap: wrap;
      gap:0;
    }
  
    & .project {
      flex: 0 0 50%;

      & img {
        height: auto;
        width: 103%;
        min-height:100%;
      }
    }

    & .projectOverlay{    
      font-size:1.7rem;
      line-height:2.25rem;
    }
  }
}
