@import 'variables';

.acc{
  display: none !important;
}

.rtl{
  direction: rtl;
  text-align: left;
}

.ltr{
  direction: ltr;
  text-align: left;
}

.alignRight,
.alignright{
  text-align: right;
  float:right;
  margin: 0 0 21px 21px;
  width:auto;
}

.alignCenter{
  text-align: center;
  margin: 0 auto;
}

.alignLeft,
.alignleft{
  float:left;
  width:auto;
  margin: 0 21px 21px 0;
}