@import 'variables';

.acc{
  display: none !important;
}

.rtl{
  direction: rtl;
  text-align: left;
}

.ltr{
  direction: ltr;
  text-align: left;
}

.alignRight{
  text-align: right;
}

.alignCenter{
  text-align: center;
  margin: 0 auto;
}